// gackgroung-color
$primary: #080D1F;



// fontColor
$primaryColor:white;
// for border-radius variable
$smBorderRadius:10px;
$mdBorderRadius:15px;
$lgBorderRadius:20px;
$fullBorderRadius:50%;

// for border

$lightBorder:1px solid white;

// font-family
$smothFont : "Exo 2",sans-serif ;