
@keyframes l2{ 
    100%{transform: rotate(1turn)}
  }
  /* HTML: <div class="loader"></div> */

  .loader-container{
    background-color: rgba(107, 114, 134, 0.408);

    .loader-2 {
        width: 70px;
        aspect-ratio: 1;
        /* border-radius: 50%; */
        /* background: transparent; */
        animation: l13 1s infinite linear;
      }
      
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }