@tailwind base;
@tailwind components;
@tailwind utilities;

.navBtn{
    left: 0;
    top: 50%;
    transform: translatex(50%);
}
.myswiper2{
width: 100%;
    .swiper-wrapper{
        gap: 2px;
        .swiper-slide{
            width: auto;
        }
    }
    
}
.mySwiper{
    .swiper-pagination-bullet{
        background-color: #fffefe;
    }
    .swiper-pagination-bullet-active{
        background-color: #2c2fe6;
    }
}

.footer-logo{
    & ::after{
        content: "dd";
        position: absolute;
        top: 50%;
        width: 100%;
        border: 1px solid white;
    }
}