.page .inputField{
    box-shadow: inset 1px 1px 1px 0px rgb(146, 194, 211),inset  -1px -1px 1px 0px rgb(146, 194, 211) ;
}

.fadeIn{
    &:active{
        transition: all ease 1s;
        scale:7.5;
        will-change: auto;
        // transform-origin: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.col1{

}
// body column
.col2{
    @apply px-6 py-4 min-w-[150px];

}
// hearer column
.col3{
    @apply px-6 py-3 ;
}
.col4{

}